# Android Studio
/.idea/

# Gradle & Kotlin
.gradle/
.kotlin/
build/

# Local machine config (SDK path)
local.properties

# Firebase emulator
*-debug.log
.firebase/
*.log

# macOS
.DS_Store

/captures
.externalNativeBuild
.cxx

# Agent plugins' files
/graphify-out
